<html lang="en">

<head>
    <meta charset="UTF-8" />
    <%- include('../partials/assets'); %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/client.css" />
    <title>Clients</title>
</head>

<body>
    <%- include('../partials/header'); %>
    <div class="rootContainer">
        <div class="pageTitle">
            Client Dashboard
            <div class="miniLine"></div>
        </div>
        <% if(clients.length > 0) { %>
        <div class="clientListContainer">
            <ul class="clientList">
                <% clients.forEach((client) => { %>
                <li class="clientItem">
                    <a href="#" class="domain"><%= client.domain %></a>
                    <a href="/client/<%= client.id %>" class="btn listBtn">Manage</a>
                </li>
                <% }) %>
            </ul>
        </div>
        <% } else { %>
        <h2 style="text-align: center;">You don't have any clients registered</h1>
            <% } %>
            <a href="/client/register" class="btn">Register New Client </a>
    </div>
    <%- include('../partials/footer'); %>
</body>

</html>