<html lang="en">

<head>
    <meta charset="UTF-8" />
    <%- include('partials/assets'); %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login.css" />
    <title>Login</title>
    <script>
        $(document).ready(() => {

            if ($('.messageContainer').length > 0) {
                setTimeout(() => {
                    $('.messageContainer').css('opacity', '0');
                }, 3000);
            }
            let serviceURL = '';
            if ($('#serviceURL').length > 0) {
                serviceURL = $('#serviceURL').html();
                $('#serviceURLInput').val(serviceURL);
                $('#signupBtn a').attr('href', `/user/register?serviceURL=${serviceURL}`);
                $('#googleLogin').attr('href', `/auth/google?serviceURL=${serviceURL}`)
                $('#fbLogin').attr('href', `/auth/facebook?serviceURL=${serviceURL}`)
                $('#githubLogin').attr('href', `/auth/github?serviceURL=${serviceURL}`)
                $('#iitdLogin').attr('href', `/auth/iitd?serviceURL=${serviceURL}`)
            }

            const getUserDetailsSuccess = () => {
                window.location.href = `/redirecting${window.location.search}`;
            }
            getUserDetails(getUserDetailsSuccess, () => { });

        })
    </script>
</head>

<body>
    <%- include('partials/header'); %>
    <div class="rootContainer">
        <div class="pageTitle">
            Login
        </div>
        <div class="miniLine"></div>
        <div class="formContainer">

            <form action="" method="POST">
                <div class="input-group">
                    <input type="email" name="email" required />
                    <label for="email">E-Mail</label>
                    <span class="helpText">Please enter a valid E-Mail</span>
                </div>
                <div class="input-group">
                    <input type="password" name="password" required />
                    <label for="password">Password</label>
                </div>
                <div class="inline">
                    <input type="checkbox" id="rememberme" name="rememberme" value="true" />
                    <label for="rememberme">Remember Me!</label>
                </div>
                <% if (typeof serviceURL !== 'undefined' && serviceURL) { %>
                <div class="hiddenElement" id="serviceURL"><%= serviceURL %></div>
                <input type="text" name="serviceURL" id="serviceURLInput" style="display: none;" />
                <% } %>
                <button type="submit" class="btn">
                    Let's go
                </button>

                <p class="textParagraph">
                    <i>Don't have an account?
                        <span id="signupBtn"><a href="/user/register">Signup...</a></span>
                    </i>
                </p>
            </form>

            <% if (message !== '') { %>
            <% if (error) { %>
            <div class="messageContainer error">
                <% } else { %>
                <div class="messageContainer success">
                    <% } %>
                    <%= message %>
                </div>
                <% } %>
            </div>
            <div class="socialLoginContainer">
                <fieldset>
                    <legend>Or Sign in With</legend>
                    <div class="kerbLogin">
                        <h5>Kerberos (For IITD Students only)</h2>
                            <a class="btn kerberosBtn" href="/auth/iitd/"><img src="/images/iitdlogo.png" alt="iitdLogin"></a>
                    </div>
                    <div class="icon-container">
                        <a class="btn oauthBtn" id="googleLogin" href="/auth/google/"><img src="/images/Google.svg" alt=""></a>
                        <a class="btn oauthBtn" id="fbLogin" href="/auth/facebook/"><img src="/images/Facebook.svg"></a>
                        <a class="btn oauthBtn" id="githubLogin" href="/auth/github/"><img src="/images/Github.svg" alt=""></a>
                    </div>
                </fieldset>
            </div>
        </div>
        <%- include('partials/footer'); %>
        <script src="/js/forms.js"></script>
</body>

</html>