<html lang="en">

<head>
    <meta charset="UTF-8" />
    <%- include('partials/assets'); %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login.css" />
    <title>CASI | Login</title>
    <script>
        $(document).ready(() => {
            let serviceURL = '';
            if ($('#serviceURL').length > 0) {
                serviceURL = $('#serviceURL').html();
                $('#serviceURLInput').val(serviceURL);
                $('#signupBtn a').attr('href', `/user/register?serviceURL=${serviceURL}`);
                $('#googleLogin').attr('href', `/auth/google?serviceURL=${serviceURL}`)
                $('#fbLogin').attr('href', `/auth/facebook?serviceURL=${serviceURL}`)
                $('#githubLogin').attr('href', `/auth/github?serviceURL=${serviceURL}`)
                $('#iitdLogin').attr('href', `/auth/iitd?serviceURL=${serviceURL}`)
            }

            const getUserDetailsSuccess = () => {
                window.location.href = `/redirecting${window.location.search}`;
            }
            getUserDetails(getUserDetailsSuccess, () => { });
        })
    </script>
</head>

<body>
    <%- include('partials/header'); %>
    <div class="rootContainer rootContainerFull bg-wave" style="justify-content: flex-start;">
        <div class="pageTitle">
            Login
        </div>
        <div class="miniLine"></div>
        <% if (typeof serviceURL !== 'undefined' && serviceURL) { %>
        <div class="hiddenElement" id="serviceURL"><%= serviceURL %></div>
        <input type="text" name="serviceURL" id="serviceURLInput" style="display: none;" />
        <% } %>
        <% if (message !== '') { %>
        <% if (error) { %>
        <div class="messageContainer error">
            <% } else { %>
            <div class="messageContainer success">
                <% } %>
                <%- message %>
            </div>
            <% } %>
            <div class="socialLoginContainer" style="margin: 3rem auto;">
                <fieldset>
                    <legend>Sign in With</legend>
                    <div class="kerbLogin">
                        <h5>Kerberos (For IITD Students only)</h5>
                        <a class="btn kerberosBtn" id="iitdLogin" href="/auth/iitd/">
                            <img src="/images/iitdlogo.png" alt="iitdLogin">
                        </a>
                    </div>
                </fieldset>
            </div>
        </div>
        <%- include('partials/footer'); %>
        <script src="/js/forms.js"></script>
</body>

</html>