<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <%- include('partials/assets'); %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/register.css" />
        <title>Register</title>
        <script>
            $(document).ready(() => {
                const getUserDetailsSuccess = () => {
                    window.location.href = `/redirecting${window.location.search}`;
                }
                getUserDetails(getUserDetailsSuccess, () => {});

                if ($('.messageContainer').length > 0) {
                    setTimeout(() => {
                        $('.messageContainer').css('opacity', '0');
                    }, 3000);
                }
                if ($('#serviceURL').length > 0) {
                    let serviceURL = $('#serviceURL').html();
                    $('#serviceURLInput').val(serviceURL);
                    $('#loginBtn a').attr('href', `/user/login?serviceURL=${serviceURL}`);
                }
            })
        </script>
    </head>
    <body>
        <%- include('partials/header'); %>
        <div class="rootContainer">
            <div class="pageTitle">
                Register
            </div>
            <div class="miniLine"></div>
            <div class="tagLine">
                Just a couple more things to get you started
            </div>
            <div class="formContainer">
                <form action="" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="inputRow">
                        <input
                            id="inputRow1"
                            type="text"
                            placeholder="First Name..."
                            name="firstname"
                            required
                        />
                        <input
                            id="inputRow2"
                            type="text"
                            placeholder="Last Name..."
                            name="lastname"
                            required
                        />
                    </div>

                    <input 
                        type="text" 
                        name="username"
                        placeholder="Username..."
                        required />

                    <input
                        type="email"
                        name="email"
                        placeholder="Enter your email ..."
                        required
                    />
                    <input
                        type="password"
                        name="password"
                        placeholder="Enter your password ..."
                        required
                    />
                    <% if (typeof serviceURL !== undefined && serviceURL) { %>
                    <div class="hiddenElement" id="serviceURL"><%= serviceURL %></div>
                    <input type="text" name="serviceURL" id="serviceURLInput" style="display: none;" />
                    <% } %>
                    <button type="submit" class="btn">
                        Let's go
                    </button>
                    <p class="textParagraph">
                        <i>Already have an account?
                            <span id="loginBtn"><a href="/user/login">Login...</a></span>
                        </i>
                    </p>
                </form>
                <% if (message !== '') { %>
                    <% if (error) { %>
                        <div class="messageContainer error">
                        <% } else { %>
                        <div class="messageContainer success">
                        <% } %>
                        <%= message %>
                    </div>
                <% } %>
            </div>
        </div>
        <%- include('partials/footer'); %>
    </body>
</html>
